<%= image_tag "/images/signup_part1_imageonly.png", class: "faux_website_image" %>
<div class="row-fluid center grey_background">

    <div class="span12">
      <%= render 'form' %>
    </div>
</div>
<%= image_tag "/images/signup_part3_imageonly.png", class: "faux_website_image" %>
