<%= image_tag "/images/signup_part1_imageonly.png", id: "news_top" %>
<div class="row-fluid center">
  <div class="span12">
    <div class="well">

      <%= render 'form' %>

    </div>
  </div>
</div>
<%= image_tag "/images/signup_part3_imageonly.png", id: "news_top" %>
