<%= image_tag "/images/signup_part1_imageonly.png", class: "faux_website_image" %>
<div class="row-fluid grey_background">

  <div class="span1">
  </div>
  <div class="span3 left">
    <%= render 'form' %>
  </div>
  <div class="span8 right">
    <img src="/images/2.png" class="side_numbering">
  </div>
</div>
<%= image_tag "/images/signup_part3_imageonly.png", class: "faux_website_image" %>
