@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center h1 {
  margin-bottom: 10px;
}

/* logo */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #0af;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 2px solid #4ac255;
  border-radius: 5px;
  padding: 10px;
  width: auto;
}

input:focus, textarea:focus {
  border-color:  #4aff55;
  $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 28px #4aff55;
  @include box-shadow($shadow);
  outline: 0;
  outline: thin dotted \9; /* IE6-8 */
}

.faux_website_image {
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: -10px;
  min-width: 1024px;
}

.signup_page {
  border: 1px solid;
  min-width:1024px;
  min-height: 1860px;
  width: 1280px;;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  //width: 100%;
  //height: 100%;
  //padding-top:20px;
  //padding-right: 0px;
  background-image:url("/images/signup.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.signup_form {
  position: absolute;
  top: 1070px;
  left: 50px;
}

.huge-pane-numbering{
  font-size: 70%;
  color: #fff;
  margin-top: 30px;
  align: right;
  padding-top: 15%;
  //margin-right: 10px;
}
.grey_background{
  background-color: #e3e5e4;
}

#headline1 {
  border-style: solid;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  text-align: left;
  border-color: #4ac255;
  border-width: 4px;
  background-color: #fff;
  border-radius: 30px;
  h1 {
    font-size: xx-large;
    text-align: left;
    font-style: oblique;
  }
  h2 {
    color: black;
    font: 24px arial, sans-serif;
    text-align: left;
  }
  p {
    font: 14px arial, sans-serif;
  }
}

aside {
  border-style: solid;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 10px;
  border-color: #99c4ee;
  border-width: 4px;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
}

aside:last-of-type {
  margin-bottom: 30px;
}

.news_face {
  text-align: right;
  float: right;
  height: auto;
  width: 15%;
  border-radius: 40px;
  margin: 5px;
  min-width: 100px;
  //border: 2px solid black;
}

.side_numbering {
  margin-top: 12%;
  margin-bottom: 12%;
  height: 20%;
  width: 20%;
}